/* error.css */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%),  url("../../assets/homeImage.png"), lightgray 0px -65.191px / 100% 178.109% no-repeat;
  }
  
  .error-content {
    text-align: center;
    color: #ffffff;
    
  }
  
  .error-content h1 {
    margin: 1.5rem;
    font-size: 240px;
    margin-bottom: 10px;
  }
  
  .error-content h2 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .error-content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .back-link {
    display: inline-block;
    border: solid 2px  #FF8C38;
    padding: 1rem 10rem;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 2rem;
  }
  
  .back-link:hover {
  background: #ea6302;
  }
  