.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background: #FFF7ED;
}
.nav-logo img{
    width: 150px;
    height: 41px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.nav-links a{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.923px; 
    text-decoration: none;
}
.nav-links a:hover{
    color: #161616;
    text-decoration: underline;
    
}