.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255,255,255,.87);
    
}
.not-found h1{
    margin: 0;
    margin-top: -8rem;

    font-family: Inter;
    font-size: 160px;
    font-weight: 700;

}
.not-found h2{
    margin: 0;
    font-size: 80px;
    margin-bottom: 5rem;
}
.not-found-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.not-found-button a{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid #656dfb;
    border-radius: 2rem;
}
.not-found-button a:hover{
    transform: translate(2px, 2px);
    background-color: #656dfb;
}